* {
  color: white;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.main-header {
  width: 60vh;
  color: white;
  text-align: center;
  height: fit-content;
  padding: 20px;
  flex-direction: column;
}

.main-nav {
  list-style: none;
  border: 1px #ddd solid;
  padding: 0px;
  margin: 15px auto;
  border-radius: 5px;
  display: flex;

}

@media(max-width: 380px) {
  .main-nav {
    font-size: 12px;
    flex-direction: column;
    align-items: center;
  }
  .main-header {
    font-size: 2vh;
  }
  }
  @media(min-width: 100px) and (max-width: 200px) {
    .main-nav {
      font-size: 1vh;
      flex-direction: column;
      align-items: center;
    }
    .main-header {
      font-size: 2vh;
    }
    .btn {
    display: none;
    }
  }
@media(max-width: 100px) {
  * {
    display: none;
  }
}

.main-nav li {
  background-color: white;
  flex-wrap: wrap;
  float: left;
  font-size: 18px;
  line-height: 2.4em;
  border-bottom: dotted 1px #ddd;
  width: 50%;
}

.main-nav li {
  color: #333;
  text-decoration: none;
}

.main-nav li a {
  display: block;
  color: white;
  text-decoration: none;
  border: none;
  padding: 15px;
}

.main-nav li a:hover {
  background-color: #446190;
}

.btn {
  /* width: 260px; */
  /* height: ; */
  background: transparent;
  color: white;
  border: 2px solid white;
  /* font-size: 6px; */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-select {
  align-items: center;
  }
